In [3]:
import pandas as pd
df= pd.read_csv('data/cleaned_data.csv')
df.head()

,status,propertyType,street,baths,fireplace,city,sqft,zipcode,state,PrivatePool,target,Year built,Heating,Cooling,Parking,school_rating _mean,school_dist_min
0,auction,single_family_home,240 heather ln,4.0,True,southern pines,2900,28387,NC,False,418000,2019,True,False,False,5.2,2.70
1,for sale,single_family_home,12911 e heroy ave,3.0,False,spokane valley,1947,99216,WA,False,310000,2019,False,False,False,4.0,1.01
2,for sale,single_family_home,2005 westridge rd,2.0,True,los angeles,3000,90049,CA,True,2895000,1961,True,True,True,6.7,1.19
3,for sale,single_family_home,4311 livingston ave,8.0,True,dallas,6457,75205,TX,False,2395000,2006,True,True,True,5.6,0.10
4,for sale,land,1524 kiscoe st,0.0,False,palm bay,0,32908,FL,False,5000,no info,False,False,False,4.7,3.03